@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using WebClient.Models;
    @model List<Centre>;
}
<div id="loginBtn">
    <button id="loginbutton" onclick="loginBtnClick(loggedIn)">Login</button>
</div>
<div id="tablename">
    <h2>Centres</h2>
</div>
<div id="centreTable">
    <table>

        @foreach(var c in Model)
        {
            <tr>
                <td>@c.centreName</td>
            </tr>
        }
    </table>
</div>
<div id="selector">
        <label for="centres">Select Centre: </label>
            <select id="centres" onchange="onSelect();" onfocus="this.selectedIndex = -1;">
            <option value="-1">Select</option>
            @foreach(var c in Model)
            {
                <option title="@c.centreId" value="@c.centreId">@c.centreName</option>
            }
        </select>
    <script>
        let selectedCentre;
function onSelect() { 
    let getValue = document.getElementById('centres').selectedOptions[0].value;
    selectedCentre = parseInt(getValue);
}
    </script>
</div>

<div id="admin" class="admin">

    <button id="addBtn" onclick="addCentre()" >Add Centre</button>
     <button id="showbookings" onclick="bookingsByCentre(selectedCentre)" >Show Bookings</button>
</div>
<div id="user" class="user">

    <button id="searchCentre" onclick="search()" >Search For Centre</button>
     <button id="nextDate" onclick="getnextdate(selectedCentre)" >Next Date</button>
     <button id="book" onclick="book(selectedCentre)" >Book Centre</button>

     <label for="starttime" style="color:white">Start Time: </label>
      <input type="date" id="starttime" name="starttime" placeholder="Start Time" />
      <label for="endtime" style="color:white">End Time: </label>
      <input type="date" id="endtime" name="endtime" placeholder="End Time" />
</div>
<script>
var loggedIn;
    console.log(JSON.parse(sessionStorage.getItem("login")) === true);
if (sessionStorage.getItem("login") != null) {
    loggedIn = (JSON.parse(sessionStorage.getItem("login")) === true);

}
else {
    loggedIn = false;
}
console.log(loggedIn)
if (loggedIn == true) {
    var x = document.getElementById("admin");
    x.style.display = "block";
    var y = document.getElementById("user");
    y.style.display = "none";

    loginbutton.textContent = 'Log out';
}
else {
    var x = document.getElementById("admin");
    x.style.display = "none";
    var y = document.getElementById("user");
    y.style.display = "block";

    loginbutton.textContent = 'Login';
}
</script>
<script>
function loginBtnClick(l) {
    if (l == false) {
        let username = prompt("Enter Username");
        let password = prompt("Enter Password");
        if (username != "" && password != "") {
            login(username, password);
        }
        else {
            alert("username or password cannot be empty")
        }
    }
    else {
        alert("Logged out");
        loginbutton.textContent = 'Login';
        loggedIn = false;
        sessionStorage.setItem("login",false);
        var x = document.getElementById("admin");
        x.style.display = "none";
        var y = document.getElementById("user");
        y.style.display = "block";
    }
}

    function login(user,pass) 
    { 
        var log = false;
        $.ajax({
            type: 'POST',
            url: '/home/login?username='+user+'&password='+pass,
            contentType: 'application/json',
            success: function(data, textStatus, jQxhr)
            {
                log = true;
                alert("logged in");
                sessionStorage.setItem("login",log);
                changeBtn(log);
                    var x = document.getElementById("admin");
                    x.style.display = "block";
                    var y = document.getElementById("user");
                    y.style.display = "none";
            },
            error: function(xhr, textStatus, error)
            {
                alert("username or password incorrect");
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }
function changeBtn() {
    loginbutton.textContent = 'Log Out';
    loggedIn = true;
}
 function addCentre() 
    { 
        let name = prompt("Enter Centre Name");
     if (name != "") {
         $.ajax({
             type: 'POST',
             url: '/home/AddCentre/',
             contentType: 'application/json',
             data: JSON.stringify(
                 {
                     "centreName": name
                 }),
             success: function(data, textStatus, jQxhr) {
                 alert("Centre Added");
                 location.reload();
             },
             error: function(xhr, textStatus, error) {
                 alert("Error");
                 console.log(xhr.statusText);
                 console.log(textStatus);
                 console.log(error);
             }
         });
     }
     else {
         alert("name cannot be empty");
     }
    }

     function bookingsByCentre(centreId)
    {
        $.ajax({
            url: '/home/GetCentreBookings?centreId='+ centreId,
            type: 'get',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) 
            {
                alert(data);

            },
            error: function (jqXhr, textStatus, errorThrown) 
            {
                console.log(errorThrown);
                alert("not found");
            } 
        });
    }

    function getnextdate(centreId)
    {
        $.ajax({
            url: '/home/GetNextDate?centreId='+ centreId,
            type: 'get',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) 
            {
                alert(data);

            },
            error: function (jqXhr, textStatus, errorThrown) 
            {
                console.log(errorThrown);
                alert("not found");
            } 
        });
    }


    function search()
    {
        let search = prompt("enter search string");
        if (search != "") {
           $.ajax({
                url: '/home/searchCentre?search='+ search,
                type: 'get',
                contentType: 'application/json',
                processData: false,
                success: function (data, textStatus, jQxhr) 
                {
                    alert(data);

                },
                error: function (jqXhr, textStatus, errorThrown) 
                {
                    console.log(errorThrown);
                    alert("not found");
                } 
            });

        } 
        else {
            alert("input cannot be empty");
        }
    }

    function book(centreId) 
    { 
        if (centreId != -1) {
            const sd= document.getElementById('starttime');
            const ed= document.getElementById('endtime');
            if (!sd.value || !ed.value) {
                alert("date not selected");
            } else {

            let name = prompt("Enter your name");
            if (name != "") {
                $.ajax({
                    type: 'POST',
                    url: '/home/book/',
                    contentType: 'application/json',
                    data: JSON.stringify(
                        {
                            "name": name,
                            "startDate": $("#starttime").val(),
                            "endDate": $("#endtime").val(),
                            "centreId": centreId
                        }),
                    success: function(data, textStatus, jQxhr) {
                        alert("Centre Booked");
                    },
                    error: function(xhr, textStatus, error) {
                        alert("Dates already Booked \n or \nDate already passed");
                        console.log(xhr.statusText);
                        console.log(textStatus);
                        console.log(error);
                    }
                });
            } else {
                alert("name cannot be empty");
            }

            }

        } else {
            alert("select a centre");
        }
    }


</script>


