body {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

div.admin {
    display: none;
    color: white;
    margin-left: 580px;
    margin-right: auto;
}
div.user {
    display: none;
    color: white;
    margin-left: 300px;
    margin-right: auto;
}

div#selector {
    padding-top: 40px;
    margin-left: 600px;
    margin-right: auto;
    padding-bottom:40px;
    color: white;
}

div#loginBtn {
    padding-top: 10px;
    float: right;
    color: white;
}
div#tablename {
    padding-top: 10px;
    margin-left: 705px;
    margin-right: auto;
    color: white;
}

div#centreTable {
    width: 150px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    color:white;
    height: 150px;
}


button {
    margin: 20px 20px 20px 20px;
}



table, th, td {
    border: 1px solid white;
    text-align: center;
}
